version: '3.1'
services:
  postgres:
    image: postgres:latest
    restart: always
    env_file:
      - db.env
    volumes:
      - bot_db:/var/lib/postgresql
    healthcheck:
      test: pg_isready - U postgres
      interval: 5s
      timeout: 3s
      retries: 3
    ports:
      - 5432:5432
volumes:
  bot_db:
    driver: local
networks:
  bot_network:
    driver: bridge